
.eig {
    text-align: center;
}

.eig input {
    font-size: 1.25em;
}

.eig label {
    font-size: 1.25em;
    font-weight: bold;
}

.eig span {
    font-size: 1.25em;
    font-weight: bold;
}

.eig vaadin-button {
    font-size: 1.25em;
    font-weight: bold;
    background-color: blue;
    color: white;
    padding: 15px 30px;
}

.eig vaadin-button:hover {
    background-color: green;
    color: white;
}

.eig vaadin-button:active {
    background-color: yellow;
    color: black;
}